* {
  font-size: 13px;
  background-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  color: #7080a0;
}

#workspaces button.visible {
  color: dodgerblue;
  font-weight: bold;
  border-bottom: solid 3px white;
}

#window {
  color: white;
}

#backlight {
  color: #7080a0;
}

#battery {
  color: #7080a0;
}

#cpu {
  color: #7080a0;
}

#clock {
  color: #7080a0;
}

#memory {
  color: #7080a0;
}

#mpd {
  color: #7080a0;
}

#network {
  color: #7080a0;
}

#pulseaudio {
  color: #7080a0;
}

