* {
  border: none;
  font-size: 13px;
  color: #C2E9EA;
  margin: 2.5px 0px 0px 0px;
  padding: 0px 5px;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: #0EE6DE;
  padding: 0px 5px;
}

.modules-left {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

#workspaces button.focused { 
  border: 3px solid #C2E9EA;
  border-radius: 0% 0% 30% 0%;
}


